@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primaryColor: #e73842;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000100;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #000100;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(62, 62, 62, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  color:#000100
 
}
.showCart {
  width: 100%;
}
.transp-background {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: #fff;
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* --------------- hero-section ---------------- */
.animated-hero {height: 100vh; overflow: hidden; margin-bottom: 40px;}


ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;
}


.logo {
  text-align: center;
  font-weight: 600;
}



.text {
  position: relative;
  top: 150px;
  left: 10vw;
  z-index: 1;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
}

.subtitle::before {
  display: inline-block;
  content: "";
  border: 1px solid #fff;
  width: 80px;
  margin: 0 10px 0 0;
  transform: translateY(-4px);
}

.title {
  font-size: 80px;
  text-transform: uppercase;

  white-space: nowrap
}

.desc {
  color: rgba(255,255,255, .5);
  margin-top: 20px;
  line-height: 2;
}

.readmore {
  display: inline-block;
  margin-top: 80px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: bolder;
}


.img-1 {
  position: absolute;
  top: 400px;
  right: 320px;
  transform: translateY(-50%);
  background: url('./images/rosalia-album.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 0;
  height: 600px;
}

.slider {
  position: absolute;
  bottom: 100px;
  right: 320px;
  width: 450px;
  opacity: 0;
}

.arrows {
  float: left;
}

.pages {
  float: right;
}

.pages span {
  font-size: 40px;
  font-weight: bolder;
  line-height: .8;
}

.arrows ul li {
  display: inline-block;
  background: #2F302F;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.img-2 {
  position: absolute;
  top: 320px;
  right: 0;
  transform: translateY(-50%);
  background: url('./images/crash.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 0;
  height: 350px;
  margin-bottom: 30px;
}

.img-3 {
  position: absolute;
  top: 765px;
  right: 0;
  transform: translateY(-50%); 
  background: url('./images/depech-mode-album.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 0;
  height: 500px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: #ec1417;
}

.first {
  top: 0;
}

.second {
  top: 33.3%
}

.third {
  top: 66.6%;
}

@media(min-height: 1024px) {
.animated-hero .content .text {position: unset; margin: 50px 0 0 50px;}
.hero-images {height: 100%; position: relative;}


}

@media(max-height: 720px) {


  
}

